.contacts {
  display: none;
  @extend %list;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @include desktop {
    @include centeredFlex(flex, center, center);
  }
}
.header-contacts {
  margin-left: 96px;
}

.contacts__link {
  @include centeredFlex(flex, center, center);
  @extend %link;
  @include desktop {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  @extend %transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__item:not(:first-child) {
  @include desktop {
    margin-left: 50px;
  }
}

.contacts__icon {
  margin-right: 10px;
  @extend %icon;
}
