.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-color;
  display: flex;
  &__container {
    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }
}

.footer__contacts-set {
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__thumb {
  text-align: center;
  @include desktop {
    margin-right: 70px;
    text-align: start;
  }
}

.adress__list {
  @extend %list;
}

.adress__link {
  @extend %link;
  line-height: 1.71;
  color: $additional-color;
  @extend %transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--change-color {
    color: $background-color;
  }
}
.adress__item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

.socials {
  text-align: center;
  @include desktop {
    text-align: start;
  }
}

.socials__title {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  margin-bottom: 20px;
  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1.14;
  text-transform: uppercase;
  color: $background-color;
}

.socials__list {
  @include centeredFlex(flex, center, center);
  gap: 10px;
  margin-bottom: 60px;
  @extend %list;
}

.socials__link {
  @include centeredFlex(flex, center, center);
  @extend %link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $background-color;
  background-color: $icon-footer-background;
  @extend %transition;
  &:hover,
  &:focus {
    color: $background-color;
    background-color: $accent-color;
  }
}
.socials__icon {
  @extend %icon;
}
