.logo {
  position: relative;
  @extend %link;
  display: block;
  font-family: $second-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__first-word {
  color: $accent-color;
}

.logo__second-word {
  color: $logo-color;
  &--change-color {
    color: $background-color;
  }
}

.header__logo {
  margin-right: auto;
  padding: 16px 0;
  @include tablet {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @include desktop {
    justify-content: start;
  }
}
